﻿@using rmsREVAMP.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<div class="clearfix ui-helper-clearfix uk-clearfix">
        <div class="uk-position-center">
        <div class="uk-card uk-card-secondary uk-padding uk-width-auto">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <h4>Member Login</h4>
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group uk-margin-auto">
                    <div class="uk-margin-auto">
                        @Html.TextBoxFor(m => m.Email, new { @class = "uk-input uk-margin-auto", @placeholder = "@shakeys.biz" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group uk-margin-auto">
                    <div class="uk-margin-auto">
                        @Html.PasswordFor(m => m.Password, new { @class = "uk-input uk-margin-auto", @placeholder ="Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="uk-button uk-button-primary" />
                    </div>
                </div>
                @*<p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>*@
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </div>
    </div>

</div>
@*<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}