﻿@model rmsREVAMP.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>


@Html.AntiForgeryToken()
<div ng-controller="UserController" class="uk-card uk-card-default uk-margin-auto uk-margin-auto-vertical uk-width-1-2 uk-padding uk-child-width-1-2" uk-grid  >
    <div>
        <div class="uk-margin-bottom form-group">
            <label>Username / Email</label>
            <input class="uk-input uk-form-width-medium" type="email" placeholder="shakeys.biz" ng-model="register.Email" required />
        </div>
        <div class="uk-margin-bottom">
            <label>Password</label>
            <input class="uk-input uk-form-width-medium" type="password" ng-model="register.Password" placeholder="Password" required />
        </div>
        <div class="uk-margin-bottom">
            <label>Confirm Password</label>
            <input class="uk-input uk-form-width-medium" type="password" placeholder="Confirm Password" required />
        </div>
    </div>
    <div>
        <div class="uk-margin-bottom">
            <label>First Name</label>
            <input class="uk-input uk-form-width-medium" ng-model="register.FirstName" placeholder="First Name" required />
        </div>
        <div class="uk-margin-bottom">
            <label>Last Name</label>
            <input class="uk-input uk-form-width-medium" ng-model="register.LastName" placeholder="Last Name" required />
        </div>

        <div class="uk-margin-bottom">
            <label>Is Account Active?</label>
            <input id="getStatus" type="checkbox" data-toggle="toggle" data-style="android" data-onstyle="info" name="getStatus" data-on="Active" data-off="Deactivated">
            @Html.HiddenFor(m => m.Status, new { @value = "false" })
        </div>
        <div>
            <button class="uk-button uk-button-primary" ng-disabled="userForm.$invalid">Create User</button>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#getStatus').change(function () {
            $('#Status').val($(this).prop('checked'))
        })
    })
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
