﻿@using Microsoft.AspNet.Identity


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Recipe Management System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.34/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.34/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.34/js/uikit-icons.min.js"></script>
</head>
<body ng-app="AngularApp">
    <nav class="uk-navbar-container " uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="#" uk-toggle="target: #offcanvas-push"><span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">Menu </span></a></li>
            </ul>
        </div>
        <div class="uk-navbar-right uk-margin-right">
            @*<a ><span uk-icon="icon: user"></span> </a>
            <div uk-dropdown="pos: top-left">
                <ul class="uk-nav uk-dropdown-nav uk-text-center">
                    <li></li>
                </ul>
            </div>*@
            @**@
        </div>
    </nav>

    <div id="offcanvas-push" uk-offcanvas="mode: push; overlay: true">
        <div class="uk-offcanvas-bar">
            <button class="uk-offcanvas-close" type="button" uk-close></button>
            <div class="profile-bar uk-padding">
                <div>
                    
                    @if (Request.IsAuthenticated)
                    {
                        @Html.Partial("_LoginPartial")
                    }
                    else
                    {
                        <p>
                            Welcome to the RMS Dashboard, Please
                            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                             to access the Dashboard.
                        </p>
                    }
                </div>
            </div>
            <ul class="uk-nav-default uk-nav-parent-icon uk-padding-small" uk-nav>
                <li class="uk-active">@Html.ActionLink("Dashboard", "Index", "Home")</li>
                <li class="uk-parent">
                    <a href="#">Management</a>
                    <ul class="uk-nav-sub">
                        <li><a href="#">Materials</a></li>
                        <li>
                            <a href="#">Recipe</a>
                        </li>
                    </ul>
                </li>
                <li class="uk-parent">
                    <a href="#">Administration</a>
                    <ul class="uk-nav-sub">
                        <li>@Html.ActionLink("Roles", "Index", "RoleManagement")</li>
                        <li>@Html.ActionLink("Users", "Index", "UserManagement")</li>
                        <li>@Html.ActionLink("Departments", "Index", "Department")</li>
                    </ul>
                </li>
                <li class="uk-parent">
                    <a href="#">Other</a>
                    <ul class="uk-nav-sub">
                        <li><a href="#">Virtual Laboratory</a></li>
                        <li><a href="#">POS Products</a></li>
                    </ul>
                </li>
                
            </ul>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - RMS Dashboard</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angularui")
    @RenderSection("scripts", required: false)
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    @*Angular*@
    <script src="~/Scripts/AngularControllers/AngularBootstrap.js"></script>
    <script src="~/Scripts/AngularControllers/RolesManagement.js"></script>
    <script src="~/Scripts/AngularControllers/UsersManagement.js"></script>
    <script src="~/Scripts/AngularControllers/SingleUserManagement.js"></script>
    <script src="~/Scripts/AngularControllers/DepartmentsManagement.js"></script>
</body>
</html>
