﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
    {

        <div>
            <span uk-icon="icon: user"></span>
        </div>
        @Html.AntiForgeryToken()
        <h3 style="margin:5px 0px!important">Welcome,</h3>
        @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        <hr class="uk-nav-divider" />
        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
    }
}
else
{

    @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
}
