﻿@*React*@
<div id="griddata" class="container">

</div>

<script type="text/babel">
    @* Here we will create 2 react component 1 for rows and another for table  *@
    debugger
    @*Render Row Data*@
    var RolesGridRow = React.createClass({
    render : function(){
    return (
    <tr>
        <td>{this.props.item.Id}</td>
        <td>{this.props.item.Name}</td>
        <td>{this.props.item.isViewOnly.toString()}</td>
        <td>{this.props.item.canCreate.toString()}</td>
        <td>{this.props.item.canModify.toString()}</td>
        <td><a id="{this.props.item.Name.toString()}" className="delete-data">Delete</a></td>
    </tr>
    );
    }
    });

    @*Render Grid Table*@
    var RolesGridTable = React.createClass({
    getInitialState: function()
    {
    return {
    items:[]
    }
    },
    @* Fetch data via ajax *@
    componentDidMount:function()
    {
    $.get(this.props.dataUrl, function(data){
    if(this.isMounted())
    {
    this.setState({ items: data });
    }
    }.bind(this));
    },
    render : function(){
    var rows = [];
    this.state.items.forEach(function(item){
    rows.push(
    <RolesGridRow key={item.Id} item={item} />);
    });

    return (
    <table className="uk-table uk-table-middle uk-table-divider uk-table-responsive">
        <thead>
            <tr>
                <th>Role ID</th>
                <th>Role Name</th>
                <td>isViewOnlyMaterial</td>
                <td>canCreateMaterial</td>
                <td>canModifyMaterial</td>
                <td>isViewOnlyRecipe</td>
                <td>canCreateRecipe</td>
                <td>canModifyRecipe</td>
            </tr>
        </thead>
        <tbody>
            {rows}
        </tbody>
    </table>);
    }
    });
    ReactDOM.render(
    <RolesGridTable dataUrl="/RoleManagement/GetRolesListJson" />,
    document.getElementById('griddata')
    );
</script>
