﻿

@{
    ViewBag.Title = "Index";
}
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

<div ng-controller="AngularController">

    <a class="uk-button uk-button-primary" href="#modal-createrole" uk-toggle>Create Role</a>

    <div id="modal-createrole" class="uk-modal-container" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">Create a New Role</h2>
            </div>
            <div class="uk-modal-body">
                <div id="CreateRole" class="form-group uk-margin uk-padding-large uk-padding-remove-horizontal" uk-grid>
                    <div class="uk-width-1-3">
                        <p>
                            @*@Html.TextBox("RoleName")*@
                            <input id="RoleName" name="RoleName" type="text" ng-model="newrole.Name" required placeholder="Role Name" class="uk-input uk-margin" />
                            <textarea id="RoleDescription" name="RoleDescription" ng-model="newrole.Description" placeholder="Description" class="uk-textarea" rows="5" required /></textarea>
                        </p>
                        <p>
                            Status <input id="IsCanView" class="checks" type="checkbox" data-toggle="toggle" data-style="android" data-onstyle="info" name="IsCanView" data-on="I" data-off="O">
                            <input id="validateactive" name="isActive" type="hidden" value="false" ng-model="newrole.isActive" />
                        </p>
                        
                    </div>
                    <div class="uk-width-expand">
                        <div class="uk-margin">
                            <h4>Material Settings</h4>
                            <div id="materialsettings" class="uk-child-width-1-3 uk-width-auto uk-accordion-content" uk-grid>
                                <div>
                                    <input id="matIsCanCreate" class="checks" type="checkbox" data-toggle="toggle" data-style="android" data-onstyle="info" name="matIsCanCreate" data-on="I" data-off="O">
                                    <input id="validatecreate" name="canCreateMaterial" type="hidden" value="false" ng-value="newrole.canCreateMaterial" />
                                    Can Create
                                </div>
                                <div>
                                    <input id="matIsCanModify" class="checks" type="checkbox" data-toggle="toggle" data-style="android" data-onstyle="info" name="matIsCanModify" data-on="I" data-off="O">
                                    <input id="validatemodify" name="canmodifyMaterial" type="hidden" value="false" ng-model="newrole.canmodifyMaterial" />
                                    Can Modify
                                </div>
                                <div>
                                    <input id="matIsCanView" class="checks" type="checkbox" data-toggle="toggle" data-style="android" data-onstyle="info" name="matIsCanView" data-on="I" data-off="O">
                                    <input id="validateview" name="canViewMaterial" type="hidden" value="false" ng-model="newrole.canViewMaterial" />
                                    View Only
                                </div>
                            </div>
                        </div>
                        <div>
                            <h4>Recipe Settings</h4>
                            <div id="recipesettings" class="uk-child-width-1-3 uk-width-auto uk-accordion-content" uk-grid>
                                <div>
                                    <input id="recIsCanCreate" class="checks" type="checkbox" data-toggle="toggle" data-style="android" data-onstyle="info" name="matIsCanCreate" data-on="I" data-off="O">
                                    <input id="validatecreaterec" name="canCreateRecipe" type="hidden" value="false" ng-model="newrole.canCreateRecipe" />
                                    Can Create
                                </div>
                                <div>
                                    <input id="recIsCanModify" class="checks" type="checkbox" data-toggle="toggle" data-style="android" data-onstyle="info" name="matIsCanModify" data-on="I" data-off="O">
                                    <input id="validatemodifyrec" name="canModifyRecipe" type="hidden" value="false" ng-model="newrole.canModifyRecipe" />
                                    Can Modify
                                </div>
                                <div>
                                    <input id="recIsCanView" class="checks" type="checkbox" data-toggle="toggle" data-style="android" data-onstyle="info" name="matIsCanView" data-on="I" data-off="O">
                                    <input id="validateviewrec" name="canViewRecipe" type="hidden" value="false" ng-model="newrole.canViewRecipe" />
                                    View Only
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                <button id="createrole" class="uk-button uk-button-primary" ng-click="create()">Create</button>
            </div>
        </div>
    </div>

    

    <div>
        @Html.Partial("PartialRoleList")
    </div>

    @ViewBag.ResultMessage
</div>

