﻿<div>
    <h3>Edit Role Info</h3>
    <div class="form-group-sm uk-margin">
        <input type="text" class="uk-input uk-form-width-large" ng-model="roledetails.Name" placeholder="Role Name" />
        <input type="hidden" ng-model="roledetails.Name" placeholder="{{roledetails.Name}}" />
    </div>
    <div class="form-group-sm uk-margin">
        <textarea class="uk-input uk-form-width-large" rows="5" ng-model="roledetails.Description" placeholder="Description"> </textarea>
        <input type="hidden"  ng-model="roledetails.Description" placeholder="{{roledetails.Description}}" />
    </div>
    <div>
        Status
        <input id="statusMod" class="checks" type="checkbox" data-toggle="toggle" data-style="android" data-onstyle="info" data-on="I" data-off="O">
        <input id="modvalidatestatus" type="hidden" value="false" />
    </div>
    <h3>Material Management</h3>
    <div class="uk-child-width-1-3" uk-grid>
        <div>
            <b>Can Create</b>
            <input id="matModIsCanCreate" class="checks" type="checkbox" data-toggle="toggle" data-style="android" data-onstyle="info" name="matIsCanCreate" data-on="I" data-off="O">
            <input id="modvalidatecreate"  type="hidden" value="false"/>
        </div>
        <div>
            <b>Can Modify</b>
            <input id="matModIsCanModify" class="checks" type="checkbox" data-toggle="toggle" data-style="android" data-onstyle="info" name="matIsCanModify" data-on="I" data-off="O">
            <input id="modvalidatemodify" type="hidden" value="false"/>
        </div>
        <div>
            <b>View Only</b>
            <input id="matModIsCanView" class="checks" type="checkbox" data-toggle="toggle" data-style="android" data-onstyle="info" name="matIsCanView" data-on="I" data-off="O">
            <input id="modvalidateview" name="canCreateMaterial" type="hidden" value="false"/>
        </div>
    </div>
    <h3>Recipe Management</h3>
    <div class="uk-child-width-1-3" uk-grid>
        <div>
            <b>Can Create</b>
            <input id="recModIsCanCreate" class="checks" type="checkbox" data-toggle="toggle" data-style="android" data-onstyle="info" name="matIsCanCreate" data-on="I" data-off="O">
            <input id="modvalidatecreaterec" name="canCreateMaterial" type="hidden" value="false"/>
        </div>
        <div>
            <b>Can Modify</b>
            <input id="recModIsCanModify" class="checks" type="checkbox" data-toggle="toggle" data-style="android" data-onstyle="info" name="matIsCanCreate" data-on="I" data-off="O">
            <input id="modvalidatemodifyrec" name="canCreateMaterial" type="hidden" value="false"/>
        </div>
        <div>
            <b>View Only</b>
            <input id="recModIsCanView" class="checks" type="checkbox" data-toggle="toggle" data-style="android" data-onstyle="info" name="matIsCanCreate" data-on="I" data-off="O">
            <input id="modvalidateviewrec" name="canCreateMaterial" type="hidden" value="false" />
        </div>
    </div>
    <div class=" uk-margin">
        <button class="uk-button uk-button-default" ng-click="edit()">Save</button>
    </div>
</div>
