﻿<style>
    td > span{
        align-content:center;
        align-items:center;
        width:50%;
        margin: 0 auto;
    }
</style>
<div>
    <div>
        <table class="uk-table uk-table-middle uk-table-divider uk-table-hover" ng-table="rolesTable" show-filter="true">
            <thead>
                <tr>
                    @*<th>Role ID</th>*@
                    <th>Role Status</th>
                    <th>Role Name</th>
                    <th>Role Creator</th>
                    <th>Role Created</th>
                    <th>Role Modifier</th>
                    <th>Role Modified</th>
                    <th></th>
                </tr>
            </thead>
            <tbody ng-repeat="role in roles track by role.Id">
                <tr>
                    <td><span ng-class='{ "fa fa-close" : role.isActive === false, "fa fa-check" : role.isActive === true }'></span></td>
                    <td>{{role.Name}}</td>
                    <td>{{role.Creator}}</td>
                    <td>{{role.DateCreated}}</td>
                    <td>{{role.Modifier}}</td>
                    <td>{{role.DateModified}}</td>
                    @*<td class="uk-width-auto"><span  ng-class='{ "fa fa-close" : role.canCreateMaterial === false, "fa fa-check" : role.canCreateMaterial === true }'></span></td>
                    <td><span ng-class='{ "fa fa-close" : role.canModifyMaterial === false, "fa fa-check " : role.canModifyMaterial === true }'></span></td>
                    <td><span ng-class='{ "fa fa-close" : role.isViewOnlyMaterial === false, "fa fa-check" : role.isViewOnlyMaterial === true }'></span></td>
                    <td><span ng-class='{ "fa fa-close" : role.canCreateRecipe === false, "fa fa-check" : role.canCreateRecipe === true }'></span></td>
                    <td><span ng-class='{ "fa fa-close" : role.canModifyRecipe === false, "fa fa-check" : role.canModifyRecipe === true }'></span></td>
                    <td><span ng-class='{ "fa fa-close" : role.isViewOnlyRecipe === false, "fa fa-check" : role.isViewOnlyRecipe === true }'></span></td>*@
                    <td class="row">
                        <button id="{{role.Id}}" class="uk-button uk-button-default uk-margin-right" href="#modal-center" uk-toggle ng-click="getroledetailjson(role.Id)">View</button>
                        <button id="{{role.Id}}" class="uk-button uk-button-danger delete" ng-click="delete(role.Id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="modal-center" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

        <button class="uk-modal-close-default" type="button" uk-close></button>

        @Html.Partial("PartialRoleDetails")
        
    </div>
</div>