﻿.card-header {
    background-color: #C0392B;
    color: white;
    text-align: right !important;
}

.content-scroll
{
    max-height:500px;
    overflow-y:scroll;
}
/* make scrollbar transparent */
::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}

.secondary-header{
    color:white!important;
}

.shakeys-red-dark{
    background-color: #C0392B !important;
    background: #C0392B !important;
}

.shakeys-red-light {
    background-color: #EC644B;
}

#loginForm, #inner-loginForm {
    width: 50%;
    margin: 0 auto;
}

tr > td, tr > th{
    text-align:center!important;
}
td > div {
    width: 80%;
    margin: 0 auto;
    text-align: right;
}

/*Short Display Table*/
.short-table {
    min-height: 300px;
    width: 70%;
    margin: 0 auto;
}