﻿body,html {
    background-color: #F5F5F5;
}
.uk-text-center {
    text-align: right !important;
}





.body-content
{
    padding-top:100px;
}

.uk-navbar-nav > li > a:active {
    color: White;
}

.uk-navbar-nav > li > a {
    color: White;
}