﻿
body, html {
    background-color: #F5F5F5;
    min-height:100vh;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/*OVERRIDE Container*/
.container {
    width: 95vw !important;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.shakeys-red-dark {
    background-color: #C0392B !important;
    background: #C0392B !important;
}

.shakeys-red-light {
    background-color: #EC644B;
}

[class*=uk-inline] {
    display: block !important;
    position: relative;
    max-width: 100%;
    vertical-align: middle;
    height: 300px !important;
    -webkit-backface-visibility: hidden;
    overflow-y: hidden;
}

.uk-offcanvas-bar {

    padding: 50px 10px!important;
}

    .uk-offcanvas-bar > .profile-bar {
        background-color: #C0392B;
    }
    .uk-offcanvas-bar > .uk-nav-default
    {

    }