﻿<style>
    td > span {
        align-content: center;
        align-items: center;
        width: 50%;
        margin: 0 auto;
    }
</style>
<div>
    <div>
        <table class="uk-table uk-table-middle uk-table-divider uk-table-hover" ng-table="usersTable" show-filter="true">
            <thead>
                <tr>
                    @*<th>Role ID</th>*@
                    <th>Name</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Date Created</th>
                    <th>Creator</th>
                    <th>Date Modified</th>
                    <th>Modifier</th>
                    <th></th>
                </tr>
            </thead>
            <tbody ng-repeat="user in users track by user.Id">
                <tr>
                    <td>{{user.LastName}},{{user.FirstName}}</td>
                    <td>{{user.Email}}</td>
                    <td>{{user.Status}}</td>
                    <td>{{user.DateCreated}}</td>
                    <td>{{user.Creator}}</td>
                    <td>{{user.DateModified}}</td>
                    <td>{{user.Modifier}}</td>
                    <td>
                        <a id="{{user.Id}}" ng-href="@Url.Content("~/UserManagement/ViewUserInformation/"){{user.Id}}">Manage</a>
                        <a id="{{user.Id}}" href="#" ng-click="delete(user.Id)">Delete</a>
                        @*<button id="{{user.Id}}" class="btn btn-warning">Manage</button>
                        <button id="{{user.Id}}" class="btn btn-danger" ng-click="delete(user.Id)">Delete</button>*@
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

