﻿<div>
    <table class="uk-table uk-table-middle uk-table-divider" ng-table="departmentsTable" show-filter="true">
        <thead>
            <tr>
                <th>Department Name</th>
            </tr>
        </thead>
        <tbody ng-repeat="department in getdepartmentsofuser">
            <tr>
                <td>{{department.Name}}</td>
                <td>
                    <button id="{{department.Name}}" class="uk-button uk-button-danger delete" ng-model="getdepartmentsofuser.RoleName" ng-click="deleteDepartmentOfUser(department.Code)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
