﻿<div>
    <table class="uk-table uk-table-middle uk-table-divider" ng-table="rolesTable" show-filter="true">
        <thead>
            <tr>
                <th>Module</th>
            </tr>
        </thead>
        <tbody ng-repeat="role in roles">
            <tr>
                <td>
                    {{role.Name}}
                    <input id="{{role.Id}}name" class="roleName" type="hidden" value="{{role.Id}}" />
                </td>
                <td>
                    <input id="{{role.Id}}create" type="hidden" value="{{createModel}}" />
                    

                    <div>
                        <toggle-switch ng-model="createModel" data-toggle="toggle" data-style="android" data-onstyle="info" data-on="I" data-off="O"><toggle-switch>
                    </div>
                </td>
                <td>
                    <input id="{{role.Id}}modify" type="hidden" value="{{modifyModel}}" />
                    

                    <div>
                        <toggle-switch ng-model="modifyModel"><toggle-switch>
                    </div>
                </td>
                <td>
                    <input id="{{role.Id}}view" type="hidden" value="{{viewModel}}" />
                    <div>
                        <toggle-switch ng-model="viewModel"><toggle-switch>
                    </div>
                </td>
                <td>
                    
                </td>
            </tr>
        </tbody>
    </table>
    <button class="uk-button uk-button-default" ng-click="getRightsPerModule(role.Id)">Get</button>
</div>

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>