﻿<div>
    <table class="uk-table uk-table-middle uk-table-divider" ng-table="rolesTable" show-filter="true">
        <thead>
            <tr>
                <th>Role Name</th>
            </tr>
        </thead>
        <tbody ng-repeat="role in rolesofuser">
            <tr>
                <td>{{role}}</td>
                <td>
                    <button id="{{role}}" class="uk-button uk-button-danger delete" ng-model="getrolesofuser.RoleName" ng-click="deleteRoleOfUser(role)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
