﻿@model rmsREVAMP.Models.RoleManagementViewModels

@{
    ViewBag.Title = "ViewUserInformation";
}


<div ng-controller="ViewUserDetailsController">
    <div class="uk-margin-bottom">
        <h2>@Model.applicationUser.FirstName</h2>
        <button class="uk-button-small uk-button-secondary">Add Department</button>
        <div uk-dropdown="pos: bottom-left">
            <h3>Assign Department/s to User</h3>

            <select name="avaialablerole" id="avaialablerole" ng-model="newdepartment.DepartmentCode" class="form-control uk-margin">
                <option ng-repeat="department in departments" value="{{department.Code}}">
                    {{department.Name}}
                </option>
            </select>
            <button class="uk-button uk-button-primary" ng-click="insertUserDepartment()">Add Department</button>
        </div>
        <button class="uk-button-small uk-button-secondary" type="button">Add Role</button>
        <div uk-dropdown="pos: bottom-left">
            <h3>Assign Role/s to User</h3>
            <select name="avaialablerole" id="avaialablerole" ng-model="newrole.RoleName" class="form-control uk-margin">
                <option ng-repeat="role in roles" value="{{role.Name}}">
                    {{role.Name}}
                </option>
            </select>
            <button class="uk-button uk-button-primary" ng-click="insertUserRole()">Add Role</button>
        </div>
    </div>

    <div class="uk-child-width-1-3" uk-grid>
        <div>
            <div>
                <h3>Username/Email :</h3> <input type="text" class="text-muted form-control" value="@Model.applicationUser.Email" disabled />
                <input type="hidden" id="UserId" value="@Model.applicationUser.Id" />
            </div>
            <div>
                <h3>Employee Name :</h3> <input type="text" class="text-muted form-control" value="@Model.applicationUser.LastName , @Model.applicationUser.FirstName" disabled />
            </div>
            <div>
                <h3>Creator :</h3> <input type="text" class="text-muted form-control" value="@Model.applicationUser.Creator" disabled />
            </div>
            <div>
                <h3>Date Joined :</h3> <input type="text" class="text-muted form-control" value="@Model.applicationUser.DateCreated" disabled />
            </div>
            <div>
                <h3>Modifier :</h3> <input type="text" class="text-muted form-control" value="@Model.applicationUser.Modifier" disabled />
            </div>
            <div>
                <h3>Date Modified :</h3> <input type="text" class="text-muted form-control" value="@Model.applicationUser.DateModified" disabled />
            </div>
        </div>

        <div>
            <div>
                <h3>Roles :</h3>
                <div>
                    @Html.Partial("PartialUserRoleList")
                </div>
            </div>
            <div>
                <h3>Department</h3>
                <div>
                    @Html.Partial("PartialUserDepartmentList")
                </div>
            </div>
        </div>
    </div>
 
    <div uk-grid>
        <div>
            
        </div>
        <div>
            
        </div>

    </div>
</div>

@*@Html.HiddenFor(m => m.applicationUser.Id)*@
@*@Html.DropDownListFor(m => m.identityRole.Id, new SelectList(Model.identityRoleList, "Name", "Name"), htmlAttributes: new { @class = "form-control uk-margin" })*@
