﻿

@{
    ViewBag.Title = "Index";
}
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

<div ng-controller="DepartmentController">
    <h2>Create a New Department</h2>
    <div>
        <button class="uk-button uk-button-primary">Add Department</button>
        <div uk-dropdown="pos: bottom-left">
            <div class="uk-width-auto">
                <h4>Department Name : </h4>
                <p>
                    @*@Html.TextBox("RoleName")*@
                    <input id="DepartmentName" name="DepartmentName" type="text" ng-model="newdepartment.Name" required />
                </p>
                <button id="createdepartment" class="uk-button uk-button-primary" ng-click="create()">Create</button>
            </div>
        </div>
    </div>
    <div>
        @Html.Partial("PartialDepartmentList")
    </div>
    @ViewBag.ResultMessage
</div>

