﻿<style>
    td > span {
        align-content: center;
        align-items: center;
        width: 50%;
        margin: 0 auto;
    }
</style>
<div>
    <div>
        <table class="uk-table uk-table-middle uk-table-divider uk-table-hover" ng-table="departmentsTable" show-filter="true">
            <thead>
                <tr>
                    <th>Department Code</th>
                    <th>Department Name</th>
                </tr>
            </thead>
            <tbody ng-repeat="department in departments track by department.Code">
                <tr>
                    <td>{{department.Code}}</td>
                    <td>{{department.Name}}</td>
                    <td class="row">
                        <button id="{{department.Id}}" class="uk-button uk-button-default" ng-model="department.Code" ng-click="assignToTextBox(department.Name,department.Code)">Edit</button>
                        <button id="{{department.Id}}" class="uk-button uk-button-danger" ng-click="delete(department.Code)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="modal-center" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h3>Edit Department</h3>
        <center >
            <div class="form-group uk-align-center">
                <input type="text" name="editDepartmentName" ng-model="editdepartment.Name" class="form-control uk-margin" />
                <input type="text" name="editDepartmentCode" disabled ng-model="editdepartment.Code" class="form-control" />
            </div>
            <button id="editDepartmentConfirm" class="uk-button uk-button-secondary" ng-click="edit(editdepartment)">Confirm</button>
        </center>
    </div>
</div>