﻿@{
    ViewBag.Title = "Home Page";
}


<div >
    <div class="row">
        <div class="uk-child-width-1-4 uk-text-center content-scroll" uk-grid>
            <div>
                <div class="uk-card uk-card-primary uk-card-body uk-inline uk-padding-remove-horizontal uk-padding-remove-vertical">
                    <img src="~/Content/img/nma-image.jpg" />
                    <div class="uk-overlay uk-overlay-primary uk-position-bottom">
                        <h4>1256</h4>
                        <p>Total Raw Materials</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-primary uk-card-body uk-inline uk-padding-remove-horizontal uk-padding-remove-vertical">
                    <img src="~/Content/img/Butter-chicken-recipe.jpg" />
                    <div class="uk-overlay uk-overlay-primary uk-position-bottom">
                        <h4>200</h4>
                        <p>New Recipes</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-primary uk-card-body uk-inline uk-padding-remove-horizontal uk-padding-remove-vertical">
                    <img src="~/Content/img/Butter-chicken-recipe.jpg" />
                    <div class="uk-overlay uk-overlay-primary uk-position-bottom">
                        <h4>30</h4>
                        <p>Temporary Recipes</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-primary uk-card-body uk-inline uk-padding-remove-horizontal uk-padding-remove-vertical">
                    <img src="~/Content/img/frying-pan-pizza-easy-recipe-collection.jpg" />
                    <div class="uk-overlay uk-overlay-primary uk-position-bottom">
                        <h4>50</h4>
                        <p>Non Moving Recipe</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-padding-small uk-padding-remove-horizontal ">
            <div class="uk-card uk-card-primary uk-card-body uk-text-center shakeys-red-dark">View All</div>
        </div>
    </div>
    <div class="uk-child-width-1-2" uk-grid>
        <div>
            <div class="uk-padding-small uk-padding-remove-horizontal uk-padding-remove-vertical">
                <div class="uk-card uk-card-default uk-card-body uk-text-center  uk-padding-remove-horizontal uk-padding-remove-vertical">
                    <div class="card-header uk-padding">
                        <h4 class="secondary-header">
                            Pending Tasks
                        </h4>
                    </div>
                    <div class="card-content uk-padding">
                        <table class="uk-table uk-table-justify uk-table-divider">
                            <thead>
                                <tr>
                                    <th class="uk-width-small">Department</th>
                                    <th>Activity</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>MMD</td>
                                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
                                    <td><button class="uk-button uk-button-default" type="button">View</button></td>
                                </tr>
                                <tr>
                                    <td>RND</td>
                                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
                                    <td><button class="uk-button uk-button-default" type="button">View</button></td>
                                </tr>
                                <tr>
                                    <td>RND</td>
                                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
                                    <td><button class="uk-button uk-button-default" type="button">View</button></td>
                                </tr>
                                <tr>
                                    <td>RND</td>
                                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
                                    <td><button class="uk-button uk-button-default" type="button">View</button></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="uk-text-center"> <a>View All</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body uk-padding-remove-horizontal uk-padding-remove-vertical">
                <div class="card-header uk-padding">
                    <h4 class="secondary-header">
                        Activity Logs
                    </h4>
                </div>
                <div class="card-content uk-padding ">
                    <ul class="uk-list uk-list-striped content-scroll">
                        <li>
                            <h4>Task 1</h4>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </li>
                        <li>
                            <h4>Task 2</h4>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </li>
                        <li>
                            <h4>Task 3</h4>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </li>
                        <li>
                            <h4>Task 1</h4>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </li>
                        <li>
                            <h4>Task 2</h4>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </li>
                        <li>
                            <h4>Task 3</h4>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </li>
                    </ul>
                    <div class="uk-text-center"><a>View All</a></div>
                </div>
            </div>
        </div>
    </div>
</div>